<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FP Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\VANIKA\Desktop\footer\fonts\stylesheet.css">
    <link rel="stylesheet" href="C:\Users\VANIKA\Desktop\footer\styling\style.css">
    <script type="text/javascript" src="C:\Users\VANIKA\Desktop\footer\script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spectral:300,400,400i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

  </head>
  <body>
    <footer>
      <section>
        <div class="container">
          <canvas class='connecting-dots'></canvas>
          <p class="line-1 anim-typewriter footerstuff">< What we do ></p>
          <p class="wedo">Photography, Post-Editing, Videography, Event Covering, Drawing, Colouring,<br> Creating, Sketching, Painting, Writing, Editing, Designing</p>

          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 fb1">
              <h5>Connect:</h5>
              <div class="icons">
                <div class="fb c"><a href="#">Facebook <i class="fa fa-facebook-square"></i></a></div>
                <div class="in c"><a href="#">Instagram <i class="fa fa-instagram"></i></a></div>
                <div class="yt c"><a href="#">Youtube <i class="fa fa-youtube-play"></i></a></div>
              </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 fb2">
              <h5>Visit: </h5>
              <p>Team Footprints,<br> Ajay Kumar Garg<br> Engineering College</p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 fb3">
              <h5>Contact: </h5>
              <p><b>Ph </b>098765823</p>
              <p><b>Email </b><a href="#">teamfootprints@gmail.com</a></p>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 fb4">
              <h5>Go to:</h5>
              <div class="list">
                <div class="c"><a href="#">HOME</a></div>
                <div class="c"><a href="#">Newsfeed</a></div>
                <div class="c"><a href="#">Event</a></div>
                <div class="c"><a href="#">Explore</a></div>
                <div class="c"><a href="#">Achievements</a></div>
              </ul>

            </div>






          </div>
        </div>
      </section>
    </footer>

  </body>
</html>
